@font-face {
    font-family: myFirstFont;
    src: url(TitilliumText22L001.otf);
}

html {
  height: 100%; 
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: myFirstFont;
}

.title-image img {
	position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.title-message {
  position: relative;
  padding: 20px;
  color: black;
  border: .5px solid black;
  text-align: center;
  font-family: myFirstFont;
  font-size: 60px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;
}

.custom-nav {
  opacity: .75;
  margin-top: 33%;
  margin-bottom: 4.5%;
}

.nav-text {
  margin-left: 70%;
}

.quote {
  background-color: SlateGray;
  text-align: center;
  font-size: 40px;
  font-family: myFirstFont;
  padding: 70px;
  padding-left: 28%;
  padding-right: 28%;
  color: #F4E9CC;
}

.attribute {
  font-size: 35px;
}

.set {
  margin: 0;
}

.connect {
  color: white;
  border: .5px solid white;
}

.connect-nav {
  opacity: .75;
  margin-top: 25%;
}

.social-media {
  margin-top: 1%;
  border-right: 1px black solid;
  padding: 5%;
  margin-top: 5%;
}

.col-head {
  text-align: center;
  font-size: 200%;
  padding-bottom: 2%;
}

.top-block {
  margin-top: -11%;
}

.welcome {
  color: #6F7982;
  border: .5pt solid #6F7982;
}

.welcome-nav {
  opacity: .75;
  margin-top: 30%;
}

.info-block {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #6F7982;
  color: white;  
}

.white {
  background-color: white;
  color: #6F7982;
}

.foot {
  background-color: #6F7982;
  color: white;
  padding: 8px;
}

@media(max-width:1000px) {
  .title-message {
    padding: 2px;
    margin: 10%;
    font-size: 12px; 
  }
  
  .nav-text {
    margin-left: 10%;
    text-align: center;
  }

  .custom-nav, .welcome-nav, .connect-nav {
  margin-top: 36%;
  margin-bottom: 0%;
  }
}