<div ng-controller="HomeCtrl">
  <div class="disappear" ng-hide="mySwitch">
    <form>
      <p>Name</p>
      <input type="text" class="form-control" ng-model="name">
      <p>Phone Number (XXX-XXX-XXXX)</p>
      <input type="text" class="form-control" ng-model="phone">
      <p>Email (me@gmail.com)</p> 
      <input type="text" class="form-control" ng-model="email">
      <p>Password (must be at least 6 characters)</p> 
      <div> Show Password
        <input type="checkbox" val=""ng-click="showHidePass()">
      </div>
      <input type="{{inputType}}" class="form-control" ng-model="password">
      <p>Confirm Password</p>
      <input type="{{inputType}}" class="form-control" ng-model="password2">
    </form>
    <button ng-click="checkInputs()">
      <a href="#/contact_book">Submit</a>
    </button>
  </div>
  <div class="message">{{response}}
    <br> {{nameError}}
    <br> {{phoneError}}
    <br> {{emailError}}
    <br> {{passwordError}}
    <br> {{passwordConfirmError}}
  </div>
</div>