body {
	margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: black;
}

.header {
  padding: 40px;
  border-bottom: 1pt solid gray;
}

.webname {
  text-align: left;
  font-family: cursive;
  font-style: bold;
  font-size: 30px;
  display: inline-block;
}

.buttons {
  font-size: 15px;
  text-align: center;
  display: inline-block;
  padding-left: 400px;
}

.button {
  display: inline-block;
  padding-left: 30px;
}

.links {
  text-align: right;
  padding-right: 30px;
  display: inline-block;
  padding-left: 390px;
}

.facebook {
  display: inline-block;
}

.facebook img {
  width: 15px;
  height: 15px;
}

.twitter {
  display: inline-block;
  padding-left: 15px;
}

.twitter img {
  width: 15px;
  height: 15px; 
}

.tumblr {
  display: inline-block;
  padding-left: 15px;
}

.tumblr img {
  width: 15px;
  height: 15px;
}

.intro {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: serif;
  color: black;
  width: 600px;
  margin: auto;
}

.content {
  border-bottom: 1px solid gray;
  padding-bottom: 60px;
}

.row-one {
  position: relative;
}

.the-image:hover + .hidden-box {
  opacity: .6;
  visibility: visible;
}

.hidden-box {
  position: absolute;
  text-align: center;
  top: 0px;
  width: 60%;
  height: 88%;
  margin-left: 300px;
  margin-top: 40px;
  background-color: white;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.lake {
  padding-top: 30%;
  font-size: 15px;
  font-style: bold;
}

.identity {
  padding-top: 10px;
}

.pic {
  display: inline-block;
  padding: 10px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 12px;
}

.heading {
  padding-bottom: 15px;
}