<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FormValidator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="./script.js"></script>
</head>
<body ng-app="FormApp" ng-controller="FormCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="disappear" ng-hide="mySwitch">
          <form>
            <p>Name</p>
            <input type="text" class="form-control" ng-model="name">
            <p>Phone Number (XXX-XXX-XXXX)</p>
            <input type="text" class="form-control" ng-model="phone">
            <p>Email (me@gmail.com)</p> 
            <input type="text" class="form-control" ng-model="email">
            <p>Password (must be at least 6 characters)</p> 
            <div> Show Password
              <input type="checkbox" val=""ng-click="showHidePass()">
            </div>
            <input type="{{inputType}}" class="form-control" ng-model="password">
            <p>Confirm Password</p>
            <input type="{{inputType}}" class="form-control" ng-model="password2">
          </form>
          <button ng-click="checkInputs()">Submit</button>
        </div>
        <div class="message">{{response}}
          <br> {{nameError}}
          <br> {{phoneError}}
          <br> {{emailError}}
          <br> {{passwordError}}
          <br> {{passwordConfirmError}}
        </div>
      </div>
    </div>
  </div>
</body>
</html>